/*body {
    background-image: url("https://www.motortrend.com/uploads/sites/5/2019/11/2019-Mercedes-Benz-A-220-5.jpg");
    background-size: cover;
    position: relative;
    display: flex;
}*/
/*
.text {
     text-align:  center;
 }*/
